<!DOCTYPE html>
<html>

<head>
<style>
    .center {
      margin: auto;
      width: 10%;

      padding: 70px;
    }
    .ara {
      margin: auto;
      width: 10%;

      padding: 70px;
    }
</style>

</head>

<head>
  <link rel="sylesheet" href="static/css/background.css">
</head>


<h2>                Gezi Projesi</h2>


<div class="center ">
  <p><body>

  <input type="text" name="lastname" value="Hadi gezilecek Yerleri Bulalım...">
  <button type="button">Ara!</button>
  

</body></p>
</div>


</html>

