<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Project</title>
</head>

{%load static%}

<link rel="stylesheet" href="{% static 'css/firstPageCSS.css' %}">

<body>

 <div class="main">
    <form class="form1" id="form1ID" method="GET">
     <div class="logo"><img src="static/images/gff.gif" width="620" height="100" alt="logo" /></div>

     <div class="onoffswitch">
        <input type="checkbox" name="checks[]" value="mod" onclick="handleClick(this);" class="onoffswitch-checkbox" id="myonoffswitch" checked>
        <label class="onoffswitch-label" for="myonoffswitch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
        </label>
    </div>

      <input style="background-color: #FFFFFF" class="searchinput" id="searchArea" name="lastname" type="text" align="center" placeholder="Km Giriniz...">
      <button type="submit" formaction="{% url 'detail' %}"  id="searchButton">Search</button>

      <script src="{% static 'script/allScript.js' %}"></script>

     <div class="checkboxContainer">
     <label class="container" value="doga">Doğa/Kamp
          <input type="checkbox" checked="checked"  name="checks[]" value="doga">
          <span class="checkmark"></span>
     </label>
     <label class="container" value ="turizm"> Tarihi/Turistik
          <input type="checkbox" name="checks[]" value="turizm">
          <span class="checkmark"></span>
    </label>
    </div>

       </form>

    </div>
<ul>
      <li><a class="activate"href="#">About Us</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Our Work</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>

</body>
</html>
