<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Project</title>
</head>

{%load static%}

<link rel="stylesheet" href="{% static 'css/firstPageCSS.css' %}">

<body>
 <div class="main">
    <form class="form1" id="form1ID" method="GET">
        <div class="set">
            <div><img src="static/images/leaves1.png"></div>
            <div><img src="static/images/leaves2.png"></div>
            <div><img src="static/images/leaves1.png"></div>
            <div><img src="static/images/leaves4.png"></div>
            <div><img src="static/images/leaves1.png"></div>
            <div><img src="static/images/leaves2.png"></div>
            <div><img src="static/images/leaves1.png"></div>
            <div><img src="static/images/leaves4.png"></div>
        </div>
        <div class="set set2">
            <div><img src="static/images/leaves1.png"></div>
            <div><img src="static/images/leaves2.png"></div>
            <div><img src="static/images/leaves1.png"></div>
            <div><img src="static/images/leaves4.png"></div>
            <div><img src="static/images/leaves1.png"></div>
            <div><img src="static/images/leaves2.png"></div>
            <div><img src="static/images/leaves1.png"></div>
            <div><img src="static/images/leaves4.png"></div>
        </div>

        <div class="wavy">
            <span style="--i:1; background-color:#f2f2eb ;color: #991d1f;">R</span>
            <span style="--i:2;color: #991d1f;background-color:#f2f2eb ;">o</span>
            <span style="--i:3;color: #991d1f;background-color:white ;">T</span>
            <span style="--i:4;color: #991d1f;background-color:white ;">a</span>
            <span style="--i:5;color: #991d1f;background-color:white ;"> </span>
            <span style="--i:6;color: #991d1f;background-color:white ;">B</span>
            <span style="--i:7;color: #991d1f;background-color:white ;">i</span>
            <span style="--i:8;color: #991d1f;background-color:white ;">z</span>
            <span style="--i:9;color: #991d1f;background-color:white ;">d</span>
            <span style="--i:10;color: #991d1f;background-color:white ;">e</span>
            <span style="--i:11;color: #991d1f;background-color:white ;">n</span>
            <span style="--i:12;color: #991d1f;background-color:white ;"> </span>
            <span style="--i:13;color: #991d1f;background-color:white ;">G</span>
            <span style="--i:14;color: #991d1f;background-color:white ;">e</span>
            <span style="--i:15;color: #991d1f;background-color:white ;">Z</span>
            <span style="--i:16;color: #991d1f;background-color:white ;">M</span>
            <span style="--i:17;color: #991d1f;background-color:white ;">e</span>
            <span style="--i:18;color: #991d1f;background-color:white ;">S</span>
            <span style="--i:19;color: #991d1f;background-color:white ;">i</span>
            <span style="--i:20;color: #991d1f;background-color:white ;"> </span>
            <span style="--i:21;color: #991d1f;background-color:white ;">S</span>
            <span style="--i:22;color: #991d1f;background-color:white ;">e</span>
            <span style="--i:23;color: #991d1f;background-color:white ;">N</span>
            <span style="--i:24;color: #991d1f;background-color:white ;">D</span>
            <span style="--i:25;color: #991d1f;background-color:white ;">e</span>
            <span style="--i:26;color: #991d1f;background-color:white ;">N</span>
        </div>


         <div class="onoffswitch">
            <input type="checkbox" name="checks[]" value="mod" onclick="handleClick(this);" class="onoffswitch-checkbox" id="myonoffswitch" checked>
            <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>

          <input style="background-color: #FFFFFF" class="searchinput" id="searchArea" name="lastname" type="text" align="center" placeholder="Km Giriniz...">
          <button type="submit" formaction="{% url 'detail' %}"  id="searchButton">Search</button>

          <script src="{% static 'script/allScript.js' %}"></script>

         <div class="checkboxContainer">
         <label class="container" value="doga">Doğa/Kamp
              <input type="checkbox" checked="checked"  name="checks[]" value="doga">
              <span class="checkmark"></span>
         </label>
         <label class="container" value ="turizm"> Tarihi/Turistik
              <input type="checkbox" name="checks[]" value="turizm">
              <span class="checkmark"></span>
        </label>
        </div>

    </form>

 </div>


<ul>
      <li><a class="activate"href="#">About Us</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Our Work</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>

</body>
</html>
