body {
      background:url(../images/y1.jpg) no-repeat center center fixed;
	  color:#991d1f;
	  background-size: cover;
	 -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;*/
       background-color:transparent;
       font-family: 'arial', sans-serif;
       font-weight: 550;
       margin:0px;
}

.main {
        background-color: transparent;
        width: 650px;
        height: 300px;
        margin: 1em auto;
        border-radius: 1.5em;
}

input {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color 0.3s;
  border-radius:5px;
  color:#797777;
}

input[type='submit'] {
  cursor: pointer;
}
    .searchinput {
    position:relative;
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 12px 20px;
    border: none;
  border-radius:20px 0px 0px 20px;
    outline: none;
	border:1px solid #cccccc;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: left;
    margin-bottom: 27px;
float:left;
 box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }

    form.form1 {
        padding-top: 30%;
    }



    .search {
      cursor: pointer;
        border-radius: 5em;
        color: #fff;

        border: 0;
        padding-left: 40px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 35%;
        font-size: 13px;
 box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }

form.form1 button {
  float: left;
  width: 20%;
  padding: 10px;
       background: linear-gradient(to right, #2c3821, #92bf02);
/*  background: #2196F3;*/
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius:0px 20px 20px 0px;
}

	form.form1 button:hover {
  background: #779c02;
}

form.form1::after {
  content: "";
  clear: both;
  display: table;
}
    a {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #E1BEE7;
        text-decoration: none
    }

.button2{
  float: left;
  width: 20%;
  padding: 10px;
       background: linear-gradient(to right, #9C27B0, #E040FB);
/*  background: #2196F3;*/
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius:20px !important;
}

    @media (max-width: 600px) {
        .main {
            border-radius: 0px;
        }
	}

.logo{
	text-align:center;
	margin-bottom:20px;
	max-width: 620px;
    overflow: hidden;
    max-height: 200px;
    border-radius: 20px;
	}

ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#0f0f0f;
	position:fixed;
	bottom:0;
	width:100%;
}
li{
	float:left;
}
li a{
	display:block;
	color:white;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
}
li a:hover{
	background-color:#111;
}

.checkboxContainer{
padding: 1px 1px;
    clear: both;
    width: 355px;
    height: 50px;
    margin: 0px auto;
    display: block;
    align-content: center;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  font-weight:800;
  font-family: 'Ubuntu', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float:left;
   margin:0px 0px 0px 15px;
}
label.container {
    flex: auto;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;


}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
    border-radius:5px;
 box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
 	border:1px solid #000000;
}


.container:hover input ~ .checkmark {
  background-color: #ccc;
}


.container input:checked ~ .checkmark {
background: linear-gradient(to right, #2c3821, #6d8c06);
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
left: 7px;
    top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.radio{
	border-radius:50%;
	}
.radio::after{
		border-radius:50%;
	}
h1{
  font-size: 45px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color:black;
  margin-bottom: 40px;
  color: #000;
  text-shadow: 0 2px 3px #555555;
  font-family: Tahoma;
}


.maps_container{
  width: 100%;
  margin: 0 auto;
}

#map_container{
  position: relative;
}
#map{
    height: 0;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
}
.maps_div {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
    width: auto;
    min-height: 250px;
    position: absolute;
    background: #ffffff;
    z-index: 2;
    padding: 20px 35px 10px 10px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    margin: 5px auto;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, 50px);
}

.onoffswitch {
        position: relative; width: 180px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
.onoffswitch-checkbox {
        display: none;
    }
.onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        border: 2px solid #999999; border-radius: 20px;
    }
.onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
.onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
        font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        box-sizing: border-box;
    }
.onoffswitch-inner:before {
        content: "Yakınımda Bul";
        padding-left: 40px;
        background-color: #991d1f; color: #FFFFFF;
    }
.onoffswitch-inner:after {
        content: "İl Secerek Bul";
        padding-right: 40px;
        background-color: #212238; color: #FFFFFF;
        text-align: right;
    }
.onoffswitch-switch {
        display: block; width: 18px; margin: 6px;
        background: #FFFFFF;
        position: absolute; top: 0; bottom: 0;
        right: 140px;
        border: 2px solid #999999; border-radius: 20px;
        transition: all 0.3s ease-in 0s;
    }
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px;
    }


.set{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.set div{
    position: absolute;
    display: block;
    filter: blur(1px);
}

.set div:nth-child(1)
{
    left:20%;
    animation: animate 22s linear infinite;
    animation-delay: -15s;
}
.set div:nth-child(2)
{
    left:10%;
    animation: animate 27s linear infinite;
    animation-delay: -15s;
}
.set div:nth-child(3)
{
    left:18%;
    animation: animate 32s linear infinite;
}
.set div:nth-child(4)
{
    left:0%;
    animation: animate 22s linear infinite;
    animation-delay: -15s;
}
.set div:nth-child(5)
{
    left:16%;
    animation: animate 25s linear infinite;
    animation-delay: -30s;
}
.set div:nth-child(6)
{
    left:0%;
    animation: animate 19s linear infinite;
}
.set div:nth-child(7)
{
    left:15%;
    animation: animate 21s linear infinite;
}
.set div:nth-child(8)
{
    left:5%;
    animation: animate 22s linear infinite;
}
@keyframes animate
{
    0%
    {
        opacity: 0;
        top:-10%;
        transform: translateX(20px) rotate(0deg);
    }
    10%
    {
        opacity: 1;
    }
    20%
    {
        transform: translateX(-20px) rotate(45deg);
    }
    40%
    {
        transform: translateX(-20px) rotate(90deg);
    }
    60%
    {
        transform: translateX(20px) rotate(135deg);
    }
    80%
    {
        transform: translateX(-20px) rotate(180deg);
    }
    100%
    {
        top:110%;
        transform: translateX(-20px) rotate(225deg);
    }
}



.set2
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: scale(0.8) rotateY(180deg);
    filter: blur(2px);
}

.set3
{
    width: 100%;
    height: 100%;
    transform: scale(0.8) rotateX(180deg);
    filter: blur(4px);
    overflow: hidden;
}

.wavy span
{
	text-align:center;
	margin-bottom:20px;
	max-width: 620px;
    overflow: hidden;
    max-height: 200px;
    border-radius: 20px;

    margin-left:3px;
    font-family: consolas;
    position: relative;
    display: inline-block;
    color: #fff;

    font-size: 2.2em;
    animation: animateWord 2.5s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}




@keyframes animateWord
{
    0%
    {
        transform: translateY(0px);
    }
    20%
    {
        transform: translateY(-20px);
    }
    40%,100%
    {
        transform: translateY(0px);
    }
}
