body {
 background-color: #cccccc;
}

/*              **Css ile generic tanımlama yapıp buradan alıcaz component ayarlarını
#txtbox {
    font-size: 18pt;
    font-size:15pt;
    height: 42px;
    width : 300px;
}
*/